global
	maxconn 256

defaults
	mode http
	timeout connect 5000ms
	timeout client 50000ms
	timeout server 50000ms

listen stats
    bind *:1936
    stats uri /
    stats refresh 10

frontend http-in
	bind *:80
	default_backend servers

backend servers
	balance roundrobin
    cookie JSESSIONID prefix
	server n01 node1:8080 cookie n01 check
	server n02 node2:8080 cookie n02 check